<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a class="md-title-icon" href="http://angular.io" target="_blank"><i></i></a>
    <h1 class="mdl-layout-title">Event View</h1>
    <div class="nav-buttons-right">
      <button
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised"
        (click)="preloadAll()"
      >
        Preload All
      </button>
      <button
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised"
        (click)="resetDb()"
      >
        Reset Data
      </button>
    </div>
  </div>
  <div class="mdl-navigation">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.link"
      class="nav-link"
      routerLinkActive="router-link-active"
      #rla="routerLinkActive"
      href=""
      (mouseover)="preloadBundle(item.path)"
      >{{ item.caption }} {{ rla.isActive ? '*' : '' }}</a
    >
  </div>
</header>
