<div id="confirmationModal" class="dialog-container">
  <div class="mdl-card mdl-shadow--16dp">
    <h5>{{title}}</h5>
    <p>{{message}}</p>
    <div class="mdl-card__actions dialog-button-bar">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="cancelButton" data-upgraded=",MaterialButton,MaterialRipple">{{cancelText}}<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
      </button>
      <button class="mdl-button mdl-button--accent mdl-button--raised mdl-js-button mdl-js-ripple-effect" id="okButton" data-upgraded=",MaterialButton,MaterialRipple">{{okText}}<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
      </button>
    </div>
  </div>
</div>
