<article class="template animated slideInRight">
  <h4>{{ title }}</h4>
  <div>
    <div class="mdl-grid" *ngIf="speakers$ | async as speakerList; else loading">
      <div
        class="mdl-cell mdl-cell--3-col"
        *ngFor="let speaker of speakerList; trackBy: trackBySpeakers"
        (click)="gotoDetail(speaker)"
      >
        <ev-dashboard-button [speaker]="speaker"></ev-dashboard-button>
      </div>
    </div>

    <ng-template #loading>Loading the Dashboard ...</ng-template>
  </div>
</article>
