button {
  width:100%;
  height: 70px;
  background-color: #60B0E9;
  color: #323232;
  line-height: 18px;
  font-size: 12px;
  font-weight:400;
}

.mdl-button:hover {
  /*background-color: rgba(158,158,158,.2);*/
  background-color: #378de9;
  color: #dedc7a;
  font-weight:400;
}

button.tablet {
 background-color: #818bde;
 color: #1b1b1b;
}
button.tablet:hover {
  background-color: #5463ab;
  color: #eeeeee;
}

button.mobile {
 background-color: #a6deb2;
 color: #1b1b1b;
}
button.mobile:hover {
  background-color: #68b47a;
  color: #333333;
}
